<!DOCTYPE html>
<html>
<head>
	<title>THANK CHEESUS</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
<nav>
	<ul>
		<li><a href="./home">All the Cheeses</a></li>
		<li><a href="./add">Add a cheese!</a></li>
		<hr>
	<ul>
</nav>
{{{body}}}

</body>
</html>
