<!DOCTYPE html>
<html>
<head>
	<title>THANK CHEESUS</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<nav>
	<ul>
		<li></li>
		<li></li>
	<ul>
</nav>
<body>
<div>{{{body}}}</div>

</body>
</html>
