<h1>testin things out</h1>


{{#each cheese}}
	<div class="thecheese">
		{{#if imageFilename}}
			<img src="/uploads/{{imageFilename}}">
		{{/if}}
		<h3>{{tags}}</h3>
	</div>
{{/each}}

{{!-- //use getPlace to get the results of the stored stuff
 --}}
{{!-- // <script>
// var place = autocomplete.getPlace
// </script> --}}