<div id= "title"><h1>Cheeses Christ</h1></div>


{{#each cheese}}
	<div class="thecheese">
		{{#if myFileName}}
			<img src="/uploads/{{myFileName}}">
		{{/if}}
		<h3>{{tags}}</h3>
	</div>
{{/each}}

{{!-- //use getPlace to get the results of the stored stuff
 --}}
{{!-- // <script>
