<div id= "title"><h1>Cheeses Christ</h1></div>


{{#each cheeses}}
	<div class="thecheese">
		{{#if filename}}
			<div class="cheese-gallery"><img src="/uploads/{{filename}}"></div>
		{{/if}}
		<h3>{{tag}}</h3>
	</div>
{{/each}}

