<h1> is this your cheese?</h1>


{{#each cheese}}
<div id= individualCheeseInfo>
	<div class="cheeseimage">
		{{#if imageFilename}}
			<img src="uploads/{{imageFilename}}">
		}}
	<div class="map">
	</div>
	<h3>{{tags}}</h3>
</div>

<!--need map with specific coordinates here-->
<script href= "http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places">
//&v=3

</script>





<!--used code from https://developers.google.com/maps/documentation/javascript/examples/place-search as reference-->