<h1> is this your cheese?</h1>


{{#each cheeses}}
<div id= "individualCheeseInfo">

	{{#if myFileName}}
		<div class="cheeseimage">
			<img src="/uploads/{{this}}">
		</div>
	{{/if}}
	<div class="map">
	</div>
	<h3>{{tag}}</h3>
</div>
{{/each}}

<!--need map with specific coordinates here-->
<script href= "http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places">
//&v=3

</script>