<script>
//making the map instance - need hwere in html to load map and what part of world to show
var map;
function initMap() {
	//construtor makes a new map, only center and zoom are required
	map = new google.maps.Map(document.getElementByID('map'), {
		center: {lat: 40.7413549, lng; -73.9980244};
		zoom: 13
	});
}
</script>



<script async defer src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyCxRaWgaD-gARm7vJkVpHrqyJf8qGrNohIv=3&callback=initMap">
//&v=3
</script>
<div id = "map">

<iframe src=""
</div>